footer{
    background-color: #a8a75ca8;
    .flexElementFooter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.iconosRedes{
    height: 30px;
    width: 30px;
}