footer{
    background-color: #a8a75ca8;
    .divRedes{
        margin-top: 2%;
        .flexRedes{
            margin-left: 25%;
            img{
                height: 15%;
                width: 15%;
            }
        }
    }
}