@media screen and (max-width:1000px){
    .flexRedes img{
        height: 20%;
        width: 20%;
    }
}

@media screen and (max-width:770px){
    .flexRedes img{
        height: 25%;
        width: 25%;
    }
}


@media screen and (max-width:690px){
    h2{
        font-size: 1.5rem;    
    }
    header div{
        h1{
            font-size: 2rem;
        }
        a img{
            height: 50%;
            width: 50%;
        }
    } 
    .sectionQuienesSomos{
        div{
            p{
                font-size: 1rem;
            }
        }
        ul{
            font-size: 1rem;
        }
    }
}

@media screen and (max-width:500px){
    header{
        div{
            a img{
                margin: 10% 0 0 20%;
            }
        }
    }
}