form{
    margin: 2% 0 2% 20%;
    font-size: $font-16;
    font-family: 'Raleway', sans-serif;
    .divBotones{
        padding-right: 2%;
        margin-left: 25%;
        button{
            background-color: $marronOscuro;
        }
    }
}