footer{
    background-color: #a8a75ca8;
    .flexElementFooter{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    p{
        color: white;
    }
    .entregaP{
        text-align: center;
        margin-top: 4%;
    }
}
.redesIconos{
    @include flex (flex, center);
    margin-top: 8%;
    width: 100%;
}
.iconosRedes{
    @include tamaño (50%, 20%);
    padding-left: 5%;
}