footer{
    background-color: #a8a75ca8;
    .flexElementFooter{
        @include flexCompleto (flex, center, center);
        flex-direction: column;
    }
    p{
        color: white;
    }
}
.iconosRedes{
    @include tamaño (30px, 30px);
}