.seccionProd div{
    p{
        text-align: center;
        font-style: italic;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5rem;
        font-weight: 900;
        background-color: #C36A2D;
        margin-bottom: 10px;
        display: inline-block;
    }
    img{
        height: 350px;
        margin-bottom: 2%;
        margin-top: 2%;
        transition: all 1.5s;
        &:hover{
            transform: scale(1.1);
        }
    }
} 