.seccionProd div{
    p{
        @include font ('Raleway' sans-serif, $font-24, italic, 900);
        text-align: center;
        background-color: #C36A2D;
        margin-bottom: 10px;
        display: inline-block;
    }
    img{
        height: 350px;
        margin-bottom: 2%;
        margin-top: 2%;
        transition: all 1.5s;
        &:hover{
            transform: scale(1.1);
        }
    }
} 