.sectionQuienesSomos{
    @include tamaño (100%, 100%);
    .flexPresentacion{
        @include flexCompleto (flex, center, space-evenly);
        margin: 20px 0 20px 0;
        img{
            @include tamaño (100%, 50%);
        }
        div{
            @extend .infoProd;
            p{
                text-align: center;
                font-family: 'Raleway', sans-serif;
                font-size: $font-24;
                margin-top: 5%;
            }
        }
    }
}

.flexSobreProd{
    background-color: #FAE7D2;
    display: flex;
    .infoProd{
        @include flexCompleto (flex, center, center);
        flex-direction: column;
        h2{
            margin-bottom: 5%;
            margin-left: 10%;  
        }
        ul{
            font-family: 'Raleway', sans-serif;
            font-size: 1.2rem;
            margin-top: 5%;
            margin-bottom: 5%;
            text-align: center;
            list-style-type: none;
        }
    }
}