@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

a {
  color: black;
  text-decoration: none; }

body {
  background-color: #FED2AA;
  font-family: 'Quicksand', sans-serif; }

h2 {
  font-size: 2rem;
  font-style: italic;
  text-align: center; }

header {
  background-color: #fcaa62ea; }
  header div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    header div a img {
      margin: 10% 0 0 2%;
      height: 70%;
      width: 70%; }
    header div h1 {
      margin: 0 6% 1% 1%;
      font-size: 3rem; }
  header .navItem {
    background-color: #fcaa62ea !important; }
    header .navItem div {
      display: flex;
      justify-content: center; }
      header .navItem div ul li {
        background-color: #e29450ea;
        margin-right: 1%;
        list-style-type: none;
        font-weight: bold;
        font-style: italic;
        font-family: 'Raleway', sans-serif;
        font-size: 1rem;
        padding: 0 20px; }
        header .navItem div ul li ul {
          background-color: #e29450ea; }

.sectionQuienesSomos {
  width: 100%;
  height: 100%; }
  .sectionQuienesSomos div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0 20px 0; }
    .sectionQuienesSomos div img {
      height: 25%;
      width: 25%;
      margin-left: 10%; }
    .sectionQuienesSomos div p {
      text-align: center;
      font-family: 'Raleway', sans-serif;
      font-size: 1.5rem;
      margin-bottom: 2%; }
  .sectionQuienesSomos ul {
    margin-left: 15%;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 2%; }

.imgNatuCarru {
  height: 50%;
  width: 10%; }

.carruselTamaño {
  width: 50%;
  margin: 0 auto;
  height: 100%; }

.seccionProceso h2 {
  margin-top: 5%;
  margin-bottom: 2%; }

form {
  margin: 2% 0 2% 20%;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif; }
  form .divBotones {
    padding-right: 2%;
    margin-left: 25%; }
    form .divBotones button {
      background-color: #fa9959; }

.seccionEntrega div {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 2% 0 2% 30%;
  font-style: italic; }

footer {
  background-color: #a8a75ca8; }
  footer .divRedes {
    margin-top: 2%; }
    footer .divRedes .flexRedes {
      margin-left: 25%; }
      footer .divRedes .flexRedes img {
        height: 15%;
        width: 15%; }

.seccionProd div p {
  text-align: center;
  font-style: italic;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  background-color: #C36A2D;
  margin-bottom: 10px;
  display: inline-block; }

.seccionProd div img {
  height: 350px;
  margin-bottom: 2%;
  margin-top: 2%;
  transition: all 1.5s; }
  .seccionProd div img:hover {
    transform: scale(1.1); }
